
.body {
  margin: 0;
  padding: 0;
  background:#efefef;
}

#map {
  height: 150vh;
  float: right;
  width: 70%;
}

.headingWrapper{
 background: #8EBE27;
 font-family: Calibri;
 color: white;
 padding:1px
}


.mNavContainer{
  background: White;
  font-size:20;
  padding: 1px;
 }
.pageNavfirstElement{
font-family:calibri;
text-decoration: none;
color: black;
padding:5px;
}



.sidebar {
  height: 100vh;
  float: left;
  width: 16%;
  
}
.sidebar-content {
  padding: 5px;
  background:White;
  font-family:calibri;
}
.description{
  font-family:calibri;
}
.name{
  font-family:calibri;
  font-style: italic
}

.mapListContent{
  background:White
}
.mapListCategoryWrapper{
  background: #FCF9E2;
  padding: 5px;
}
.mapListHeader{
font-family:calibri;
background: beige;
padding:2px;

}
.mapListCategory{
font-family:calibri;
background: #8EBE27; 
}

.mapListCategoryTitleIcon{
color:white 
}
.Name{
  font-family:calibri;
}


ul.mapListItems {
list-style-type: none;
padding:4px;
margin:5px; 
width:15%
}
li.hotel{ 
background: url('https://cdn.glitch.com/4a1d83f5-da2d-4d99-84a7-4a4b4b4f9400%2Fhotel.png?1553052383930') no-repeat;
height:25px; 
padding-left:17px;
background-size: .8em .9em;
background-position: 0 .3em;
background-color: #8EBE27;

}
li.beach{ 
background: url('https://cdn.glitch.com/4a1d83f5-da2d-4d99-84a7-4a4b4b4f9400%2Fsunbed.png?1551667140336') no-repeat;
height:25px; 
padding-left:17px;
background-size: .8em .9em;
background-position: 0 .3em;
background-color: #8EBE27;

}
li.site{ 
background: url('https://cdn.glitch.com/4a1d83f5-da2d-4d99-84a7-4a4b4b4f9400%2Fgreek-column.png?1551667139978') no-repeat;
height:25px; 
padding-left:17px;
background-size: .8em .9em;
background-position: 0 .3em;
  background-color: #8EBE27;
}
li.lodge{ 
background: url('https://cdn.glitch.com/4a1d83f5-da2d-4d99-84a7-4a4b4b4f9400%2Fwood-house.png?1551667140536') no-repeat;
height:25px; 
padding-left:17px;
background-size: .8em .9em;
background-position: 0 .3em;
background-color: #8EBE27;
}
li.village{ 
background: url('https://cdn.glitch.com/4a1d83f5-da2d-4d99-84a7-4a4b4b4f9400%2Findian.png?1553052244876') no-repeat;
height:25px; 
padding-left:17px;
background-size: .8em .9em;
background-position: 0 .3em;
  background-color: #8EBE27;
}
li.resort{ 
background: url('https://cdn.glitch.com/4a1d83f5-da2d-4d99-84a7-4a4b4b4f9400%2Fswim.png?1551667140415') no-repeat;
height:25px; 
padding-left:17px;
background-size: .8em .9em;
background-position: 0 .3em;
background-color: #8EBE27;
}
li.nature{ 
background: url('https://cdn.glitch.com/4a1d83f5-da2d-4d99-84a7-4a4b4b4f9400%2Fforest.png?1551667140059') no-repeat;
height:25px; 
padding-left:17px;
background-size: .8em .9em;
background-position: 0 .3em;
  background-color:#8EBE27;
}